@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: #9cb1c6;
overflow-x: hidden;
}

input{
  border: 1px solid blue;
  text-align: center;
  width: 40vw;
  margin: 10px auto;
}

textarea{
  text-align: center;
  border: 1px solid blue;
  width: 40vw;
  height: 250px;
  margin: 10px auto;
}